<!doctype html>
<html class="no-js" lang="{{lang}}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible"  content="ie=edge">
        <meta name="viewport"               content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>{{title}}</title>
        <meta name="description"        content="{{lead}}">
        <meta name="theme-color"        content="#E6E6E6">
        <meta name="generator"          content="Assemble v0.24.3">
        <meta property="og:title"       content="{{title}} - {{lead}}" />
        <meta property="og:type"        content="website" />
        <meta property="og:url"         content="https://www.veeck.de/{{page.stem}}.html" />
        <meta property="og:image"       content="https://www.veeck.de/img/backgrounds/{{img}}.medium.jpg" />
        <meta property="og:site_name"   content="Veeck" />
        <meta name="twitter:card"       content="summary">

        {{> icons }}

        <!-- inject:css -->
        <link rel="stylesheet"          href="css/bundle.css" />
        <!-- endinject -->
    </head>
    <body>
        {{> header }}

        {{> nav }}

        <div class="buttonBar" data-aos="fade-up">
            {{> share-list }}

            <button class="btn btn--md btn--icon btn--up u-hidden--print js-to-top" type="button" title="Back to top">
                {{> arrow-up }}
            </button>
        </div>

        <main class="content">
            {% body %}
        </main>

        {{> footer }}

        <script src="js/vendor.min.js"></script>
        <!-- inject:js -->
        <script src="js/bundle.js"></script>
        <!-- endinject -->
    </body>
</html>
