
<figure class="{{class}}">
    <a class="gallery" href="{{img}}.medium.jpg">
        <img class="js-lazyload"
             src="{{img}}.small.placeholder.jpg" //src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs"
             data-original="{{img}}.small.jpg"/>
    </a>
    <figcaption>{{caption}}</figcaption>
</figure>
