<figure class="{{class}} fig_popup gallery__image">
    <a href="{{img}}.medium.jpg" data-ilb2-caption="{{caption}}">
        <img class="js-lazyload"
             src="{{img}}.small.placeholder.jpg"
             data-original="{{img}}.small.jpg"/>
    </a>
    <figcaption>{{caption}}</figcaption>
</figure>
