<a href="{{img}}.medium.jpg" title="{{caption}}" class="js-gallery__image">
    <figure class="{{class}} figure figure--basic">
        {{#if isNew}}<div class="figure__ribbon"><span>NEU</span></div>{{/if}}
        {{#if thumb}}
            <img src="{{thumb}}.jpg" {{#if caption}}alt="{{caption}}"{{/if}}>
        {{else}}
            <img class="js-lazyload" src="{{img}}.placeholder.jpg" data-original="{{img}}.small.jpg"
                {{#if caption}}alt="{{caption}}"{{/if}}>
        {{/if}}
    </figure>
</a>
