<a href="{{img}}.medium.jpg" title="{{caption}}" class="js-gallery__image">
    <figure class="{{class}} figure figure--basic">
        <img class="js-lazyload" src="{{img}}.placeholder.jpg" {{#if caption}}alt="{{caption}}" {{/if}}
             data-original="{{img}}.small.jpg">
        <figcaption class="figure__caption">{{caption}}</figcaption>
    </figure>
</a>
