<figure class="{{class}} figure figure--basic figure--travel js-travel__picture">
    <a href="{{img}}.medium.jpg" title="{{caption}}" class="js-gallery__image">
        <img class="js-lazyload" src="{{img}}.placeholder.jpg" {{#if caption}}alt="{{caption}}" {{/if}}
             data-original="{{img}}.small.jpg">
    </a>
    <figcaption class="figure__caption">{{caption}}</figcaption>
</figure>
