<button class="btn btn--md flexBtn js-search__button" aria-label="Search {{label}}"
        data-search="{{url}}" {{#if query}}data-query="{{query}}"{{/if}}>
    <span class="flexBtn__icon icon icon-{{name}} icon--xs"></span>
    <span class="flexBtn__label">{{label}}</span>
</button>
