<a href="{{href}}.html" class="{{class}}">
    <figure class="figure figure--button">
        <img src="{{img}}.small.jpg" alt="{{caption}}">
        <figcaption class="js-translate-element">{{caption}}</figcaption>
    </figure>
</a>
