<header class="header" data-color="{{img-color}}">
    <div class="header__image">
        {{> img-srcset }}
    </div>

    <div class="header__title header__title--{{titlestyle}}">
        <h1 class="h1 header__headline" data-heading="{{heading}}">{{heading}}</h1>
        {{#if lead}}<p class="header__subtitle">{{lead}}</p>{{/if}}
        {{#if when}}<p class="header__subtitle">wann <strong>{{when}}</strong></p>{{/if}}
        {{#if where}}<p class="header__subtitle">wo <strong>{{where}}</strong></p>{{/if}}
        {{#if what}}<p class="header__subtitle">was <strong>{{what}}</strong></p>{{/if}}
    </div>
</header>
