<header class="header" data-color="{{img-color}}">
    <div class="bg-img">
        {{> img-srcset }}
    </div>

    <div class="header--wrapper title {{titlestyle}}">
        <h1 class="h1 header--title headline" data-heading="{{heading}}">{{heading}}</h1>
        {{#if lead}}<p class="subline">{{lead}}</p>{{/if}}
        {{#if when}}<p class="subline">wann <strong>{{when}}</strong></p>{{/if}}
        {{#if where}}<p class="subline">wo <strong>{{where}}</strong></p>{{/if}}
        {{#if what}}<p class="subline">was <strong>{{what}}</strong></p>{{/if}}
    </div>

    {{> nav }}

    <div class="trigger js-trigger">
        <button class="btn btn--comic" type="button" title="Show content">
            {{> arrows-down }}
        </button>
    </div>
</header>
