<header class="header js-intro-effect-side" data-color="{{img-color}}">
    <div class="header__image">
        {{> img-srcset }}
    </div>

    <div class="header__wrapper title title--{{titlestyle}}">
        <h1 class="h1 header__title headline" data-heading="{{heading}}">{{heading}}</h1>
        {{#if lead}}<p class="subline">{{lead}}</p>{{/if}}
        {{#if when}}<p class="subline">wann <strong>{{when}}</strong></p>{{/if}}
        {{#if where}}<p class="subline">wo <strong>{{where}}</strong></p>{{/if}}
        {{#if what}}<p class="subline">was <strong>{{what}}</strong></p>{{/if}}
    </div>

    {{> nav }}

    <div class="trigger js-trigger">
        <button class="btn btn--md btn--icon u-hidden--print" type="button" title="Show content">
            {{> arrow-down }}
        </button>
    </div>

    {{> share-list }}

    <button class="btn btn--md btn--icon btn--up u-hidden--print js-to-top" type="button" title="Back to top">
        {{> arrow-up }}
    </button>
</header>
